.main{
    background-color: rgb(255, 255, 255);
    height: 500px;
    width: 1000px;
    display: flex;
    align-items: center;
    margin: 0 auto;


}
h1{
    color: rgb(0, 0, 0);
    margin: 0 auto;
    display: flex;
    align-items: center;

}